* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */

  --font: Poppins, sans-serif;
}

body,
html {
  color: #ffffff;
  background-color: #000000;
  font-size: 1.6rem;
  font-family: var(--font);
}

/*
=================================
HEADER
================================
*/

header {
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
  backdrop-filter: blur(3px);
  width: 100%;

  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#header-logo {
  width: 312px;
}

nav {
  width: 700px;

  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;

  list-style: none;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  position: relative;

  font-family: var(--font);
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 3px;
  transition: 0.4s;
}
nav a::before {
  content: '';
  background-color: #ffffff;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: 0.6s;
}
nav a:hover {
  font-weight: 500;
  letter-spacing: 4.5px;
}
nav a:hover::before {
  width: 80%;
}

/*
=================================
MAIN SECTION
================================
*/

#main-section {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0px;

  z-index: 1;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(60%);
  z-index: -2;
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}

#brand-presentation {
  text-align: center;
}
#brand-presentation h2 {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#brand-presentation p {
  font-weight: 200;
}

/*
=================================
INTRO SECTION
================================
*/

#intro-section {
  background-color: #181818;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0px;

  z-index: 2;
}
#intro-section h2 {
  margin-bottom: 10px;
  font-size: 4rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#intro-section p {
  text-align: center;
  margin-bottom: 40px;
}

/*================ CARDS ==================*/

.services-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.card {
  background-color: #181818;
  width: 330px;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  position: relative;
  overflow: hidden;
}
.card::before {
  content: '';
  width: 20%;
  height: 130%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(33deg);
  transition: 0.5s;
}
.conception::before {
  background: linear-gradient(90deg, #ffbc00, #ff0058);
  filter: blur(30px);
}
.production::before {
  background: linear-gradient(90deg, #03a9f4, #ff0058);
  filter: blur(30px);
}
.postproduction::before {
  background: linear-gradient(90deg, #4dff03, #00d0ff);
  filter: blur(30px);
}
.card:hover::before {
  transform: translate(-50%, -50%) rotate(123deg);
}
.content-wrapper {
  background-color: #181818;
  width: calc(100% - 4px);
  height: calc(100% - 4px);

  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 12px;
  box-sizing: border-box;

  z-index: 2;
}

.services-cards ul {
  list-style: none;
}

/*================ CONCEPTION ==================*/

.conception h3 {
  color: transparent;
  background: linear-gradient(90deg, #ffbc00, #ff0058);
  background-clip: text;
  -webkit-background-clip: text;

  margin-bottom: 50px;

  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 3px;
  text-align: center;
}

.services-cards ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.services-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.services-items svg {
  fill: white;
  width: 35px;
}


/*================ PRODUCTION ==================*/

.production h3 {
  color: transparent;
  background: linear-gradient(90deg, #03a9f4, #ff0058);
  background-clip: text;
  -webkit-background-clip: text;

  margin-bottom: 50px;

  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 3px;
  text-align: center;
}

/*================ POSTPRODUCTION ==================*/

.postproduction h3 {
  color: transparent;
  background: linear-gradient(90deg, #4dff03, #00d0ff);
  background-clip: text;
  -webkit-background-clip: text;

  margin-bottom: 50px;

  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 3px;
  text-align: center;
}

/*
=================================
DATA SECTION
================================
*/

#data-section {
  background-color: #0f0f0f;
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  position: sticky;
  top: 0;

  z-index: 3;
}

#data-section h2 {
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#data-section h2 span {
  color: transparent;
  background: linear-gradient(90deg, #03a9f4, #ff0058);
  background-clip: text;
  -webkit-background-clip: text;

  font-weight: 700;
}

/*================= DATA ==================*/

#data-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.data {
  color: #b0b0b0;
  background-color: #181818;

  padding: 20px 30px;
  border-radius: 8px;
  box-sizing: border-box;
}

/*
=================================
LATEST SECTION
================================
*/

#latest-section {
  background-color: #000000;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0;

  z-index: 3;
}
#latest-section h1 {
  font-size: 30rem;
}

