.splash-screen {
  background-color: #181818;
  width: 100%;
  min-height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 1s;
  z-index: 12;
}

.splash-header {
  position: relative;
  font-weight: 400;
}

.splash-logo {
  display: inline-block;

  position: relative;
  bottom: -20px;
  opacity: 0;
}

.splash-logo.active {
  bottom: 0px;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.splash-logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
